<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SW.transactionLogApplication.Mapper.TransactionMapper">
    <select id="getAll" resultType="com.SW.transactionLogApplication.pojo.Transaction">
        select * from Java_test.table1
    </select>

    <insert id="addTransaction" parameterType="com.SW.transactionLogApplication.pojo.Transaction">
        INSERT INTO Java_test.table1 (Date, Name, Amount, Purpose, Note) VALUES (#{Date}, #{Name}, #{Amount}, #{Purpose}, #{Note})
    </insert>

    <update id="updateTransaction" parameterType="com.SW.transactionLogApplication.pojo.Transaction">
        UPDATE Java_test.table1
        <set>
            <if test="Name != null"> Name = #{Name}, </if>
            <if test="Date != null"> Date = #{Date}, </if>
            <if test="Amount != null"> Amount = #{Amount}, </if>
            <if test="Purpose != null"> Purpose = #{Purpose}, </if>
            <if test="Note != null"> Note = #{Note} </if>
        </set>

        where ID=#{ID}
    </update>

    <delete id="deleteTransaction" parameterType="int">
        DELETE FROM Java_test.table1 WHERE ID = #{id}
    </delete>


    <select id="getSpecifyItem" resultType="com.SW.transactionLogApplication.pojo.Transaction">
        SELECT * FROM Java_test.table1 WHERE ID = #{idSearch}
    </select>

    <select id="getItemByID" resultType="com.SW.transactionLogApplication.pojo.Transaction">
        SELECT * FROM Java_test.table1 WHERE ID = #{ID}

    </select>

</mapper>